# Local example only.
# In deployment, these values should be set as environment variables
# in the hosting platform / Docker / cloud provider.

ENVIRONMENT=local

# Local demo database.
DATABASE_URL=sqlite:///./test.db

# For production use PostgreSQL:
# ENVIRONMENT=production
#DATABASE_URL=postgresql+psycopg2://username:password@host:5432/database_name

# Backend API URL.
# ML service can call:
# GET BACKEND_BASE_URL/sensor-data/current
BACKEND_BASE_URL=http://localhost:127.0.0.1:8080

# Dataset and model paths.
MODEL_DATASET_PATH=./preprocessed.csv
MODEL_FILE_PATH=./models/comfort_model.joblib
MODEL_METADATA_PATH=./models/model_metadata.json

# Search space for generated scenarios.
MIN_TEMPERATURE=18.0
MAX_TEMPERATURE=26.0
TEMPERATURE_STEP=0.5

MIN_HUMIDITY=35.0
MAX_HUMIDITY=65.0
HUMIDITY_STEP=2.5
//JWT
secret=sep4secret_mal_key_to_safe_data_transmission
algorithm=HS256